.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-top: 10rem; 
  }
  
  .form-container h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
  }
  
  .form-container label {
    display: block;
    margin-bottom: 8px;
    color: #333;
  }
  
  .form-container input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-container button {
    width: 100%;
    padding: 14px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .form-container button:hover {
    background-color: #0056b3;
  }
  